{% extends 'i4speech/base.html' %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}
     <h1>  i4 Speech</h1>
   <p>La facilidad de comprensión de un mensaje contribuye a su efectividad comunicacional. i4 Speech es una herramienta que ​almacena y procesa grandes volúmenes de texto proveniente de múltiples fuentes para extraer información valiosa.

La aplicación integra y compara discursos políticos, noticias y comentarios de plataformas digitales utilizando fórmulas de legibilidad validadas para el idioma español.
​
       En Grupo i4, simplificamos y optimizamos el mensaje de nuestros clientes para alcanzar audiencias de manera directa y eficaz.</p>
    <p>El sistema cuenta con las siguientes cantidades de registros:</p>




  <ul>
    <li><strong>Textos:</strong> {{ num_textos }}</li>
    <li><strong>Autores:</strong> {{ num_autores }}</li>
    <li><strong>Prom_cr:</strong>  {{ prom_cr }}  </li>
    </ul>

    <div class="wpb_column col-sm-6"><img src="{% static 'i4speech/images/if_edit_281873.png' %}">
     <div class="wpb_column col-sm-8"><img src="{% static 'i4speech/images/if_magnifier_281868.png' %}">
     <div class="wpb_column col-sm-10"><img src="{% static 'i4speech/images/if_speedometer_376110.png' %}"> </div>
  </div>
      </div>

{% endblock %}