{% extends 'corecontrol/bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{% static 'corecontrol/css/dashboard.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
    <script src="{% static 'corecontrol/js/global.js' %}"></script>
    <script src="{% static 'corecontrol/js/config.js' %}"></script>
    <link href="{% static 'corecontrol/css/bootstrap-tagsinput.css' %}" rel="stylesheet">
    <script src="{% static 'corecontrol/js/bootstrap-tagsinput.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block bootstrap3_content %}
{% include 'corecontrol/navbar.html' %}
{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% include 'corecontrol/sidebar.html' %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{% block title %}(no title){% endblock %}</h1>
                {% block content %}(no content){% endblock %}
        </div>
    </div>
</div>
{% include 'corecontrol/footer.html' %}
{% endblock %}