{% extends 'corecontrol/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Configuraciones Twistreapy{% endblock %}

{% block content %}
{% if message %}
    {% bootstrap_alert message alert_type=message_type %}
{% endif %}
<div id="instances">
    <ul>
    {% for i in instances %}
        <li><a href="#instances-{{ i.id }}">{{ i.name }} <small>en: {{ i.ip }}</small></a></li>
    {% endfor %}
    </ul>
    {% if view == 'api' %}
        {% for i in instances %}
        <div id="instances-{{ i.id }}">
        {% if i.timeout %}
            <div class="alert alert-danger" role="alert">
                 <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  El Conector Bridge de Instancia {{ i.name }} No Responde (Timeout)</p>
                  <div>
                      <button type="button" class="btn btn-primary" name="action" value="save">Ejecutar Reinicio Bridge</button>
                      <button type="button" class="btn btn-danger" name="action" value="remove">Remover Instancia {{ i.name }}</button>
                  </div>
            </div>
</div>
        {% else %}
            <form action="{% url 'config' %}/api/save/instance-{{ i.id }}" method="post">
                <h2 class="sub-header">Configuración API Twitter</h2>
                    <div class="form-group">
                        <label for="{{ i.id }}.API.consumer_key">consumer_key</label>
                        <input type="text" class="form-control" id="{{ i.id }}.API.consumer_key" name="{{ i.id }}.API.consumer_key" value="{{ i.API.consumer_key }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ i.id }}.API.consumer_secret">consumer_secret</label>
                        <input type="text" class="form-control" id="{{ i.id }}.API.consumer_secret" name="{{ i.id }}.API.consumer_secret" value="{{ i.API.consumer_secret }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ i.id }}.API.access_token">access_token</label>
                        <input type="text" class="form-control" id="{{ i.id }}.API.access_token" name="{{ i.id }}.API.access_token"value="{{ i.API.access_token }}">
                    </div>
                    <div class="form-group">
                        <label for="{{ i.id }}.API.access_token_secret">access_token_secret</label>
                        <input type="text" class="form-control" id="{{ i.id }}.API.access_token_secret" name="{{ i.id }}.API.access_token_secret" value="{{ i.API.access_token_secret }}">
                    </div>
                    <div class="checkbox">
                        <label for="{{ i.id }}.stream">
                            <input type="checkbox" id="{{ i.id }}.stream" {% if i.API.stream == 'on' %} checked="checked" {% endif %} onchange="checkboxChange('API',$(this));"><a href="#" data-toggle="tooltip" title="Servicio de Stream Twitter API">Stream Twitter API</a>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="{{ i.id }}.poploop">
                            <input type="checkbox" id="{{ i.id }}.poploop" {% if i.API.poploop == 'on' %} checked="checked" {% endif %} onchange="checkboxChange('API',$(this));"><a href="#" data-toggle="tooltip" title="Normaliza la cola REDIS en la Base de Datos configurada">Tweet Push DB</a>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="{{ i.id }}.ffs_sentinel">
                            <input type="checkbox" id="{{ i.id }}.ffs_sentinel"{% if i.API.ffs_sentinel == 'yes' %} checked="checked" {% endif %} onchange="checkboxChange('API',$(this));">Friends/Followers Sentinel
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="{{ i.id }}.users_lookup">
                            <input type="checkbox" id="{{ i.id }}.users_lookup"{% if i.API.users_lookup == 'yes' %} checked="checked" {% endif %} onchange="checkboxChange('API',$(this));">Users Lookup Sentinel
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="{{ i.id }}.API.keywords">Hashtags Menciones Keywords</label>
                        <input type="text" class="form-control" id="{{ i.id }}.API.keywords" name="{{ i.id }}.API.keywords" data-role="tagsinput" value="{{ i.API.keywords }}">
                        <span id="helpBlock" class="help-block">Use #Numeral para hastags, @Arroba para menciones de usuarios y retweets, y ningun caracter especial para expresiones o palabras clave.</span>
                    </div>
                    <div class="form-group">
                        <label for="{{ i.id }}.API.user_ids">ID's de Usuario</label>
                        <input type="text" class="form-control form-control-2" id="{{ i.id }}.API.user_ids" name="{{ i.id }}.API.user_ids" data-role="tagsinput" value="{{ i.API.user_ids }}">
                        <span id="helpBlock" class="help-block">Los usuarios @ a monitorear deben ser configurados por ID de usuario. Afecta a Stream y Sentinels. Para insertar un nuevo usuario, solo ingrese el nombre con @, antes de guardar se obtendra el id de usuario automaticamente.</span>
                    </div>
                    <div class="form-group">
                        {% csrf_token %}
                        <input id="{{ i.id }}.API.stream" type="hidden" name="{{ i.id }}.API.stream" value="{% if i.API.stream == 'on' %}on{% else %}off{% endif %}" />
                        <input id="{{ i.id }}.API.poploop" type="hidden" name="{{ i.id }}.API.poploop" value="{% if i.API.poploop == 'on' %}on{% else %}off{% endif %}" />
                        <input id="{{ i.id }}.API.friends_sentinel" type="hidden" name="{{ i.id }}.API.friends_sentinel" value="{% if i.API.friends_sentinel == 'on' %}on{% else %}off{% endif %}" />
                        <input id="{{ i.id }}.API.followers_sentinel" type="hidden" name="{{ i.id }}.API.followers_sentinel" value="{% if i.API.followers_sentinel == 'on' %}on{% else %}off{% endif %}" />
                        <input id="{{ i.id }}.API.likes_sentinel" type="hidden" name="{{ i.id }}.API.likes_sentinel" value="{% if i.API.likes_sentinel == 'on' %}on{% else %}off{% endif %}" />
                        <button type="submit" class="btn btn-primary" name="{{ i.id }}.action" value="save">Guardar</button>
                        <button type="submit" class="btn btn-success" name="{{ i.id }}.action" value="saverestart">Guardar y Reiniciar</button>
                    </div>
            </form>
        </div>
        {% endif %}
        {% endfor %}
        {% elif view == 'database' %}
        {% for i in instances %}
            <div id="instances-{{ i.id }}">
            <form action="{% url 'config' %}/database/save/instance-{{ i.id }}" method="post">
                <h2 class="subheader">Configuración de Base de Datos</h2>
                <div class="checkbox">
                    <label for="{{ i.id }}.use">
                        <input type="checkbox" id="{{ i.id }}.use"{% if i.DATABASE.use == 'on' %} checked="checked" {% endif %} onchange="checkboxChange('DATABASE',$(this));"><a href="#" data-toggle="tooltip" title="Activa/Desactiva la conexión a la Base de Datos. Desactivarlo inhabilita los servicios Push DB">Activar DB</a>
                    </label>
                </div>
                <div class="form-group">
                    <label for="{{ i.id }}.DATABASE.engine">Motor</label>
                    <select class="form-control" name="{{ i.id }}.DATABASE.engine" id="{{ i.id }}.DATABASE.engine">
                        <option value="mysql">MySQL</option>
                        <option value="postgresql"{% if i.DATABASE.engine == 'postgresql' %} selected="selected" {% endif %}>PostgreSQL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="{{ i.id }}.DATABASE.host">Hostname / IP</label>
                    <input type="text" class="form-control" id="{{ i.id }}.DATABASE.host" name="{{ i.id }}.DATABASE.host" value="{{ i.DATABASE.host }}">
                </div>
                <div class="form-group">
                    <label for="DATABASE.user">Username</label>
                    <input type="text" class="form-control" id="DATABASE.user" name="DATABASE.user" value="{{ i.DATABASE.user }}">
                </div>
                <div class="form-group">
                    <label for="{{ i.id }}.DATABASE.pass">Password</label>
                    <input type="password" class="form-control" id="{{ i.id }}.DATABASE.pass" name="{{ i.id }}.DATABASE.pass" value="{{ i.DATABASE.pass }}">
                </div>
                <div class="form-group">
                    <label for="{{ i.id }}.DATABASE.name">Base de Datos</label>
                    <input type="text" class="form-control" id="{{ i.id }}.DATABASE.name" name="{{ i.id }}.DATABASE.name" value="{{ i.DATABASE.name }}">
                </div>
                <hr />
                <div class="form-group">
                    {% csrf_token %}
                    <input id="{{ i.id }}.DATABASE.use" type="hidden" name="{{ i.id }}.DATABASE.use" value="{% if i.DATABASE.use == 'on' %}on{% else %}off{% endif %}" />
                    <button type="submit" class="btn btn-primary" name="action" value="save">Guardar</button>
                    <button type="submit" class="btn btn-primary" name="action" value="save">Guardar en Todas las Instancias</button>
                    <button type="submit" class="btn btn-success" name="action" value="saverestart">Guardar y Reiniciar</button>
                </div>
            </form>
            </div>
        {% endfor %}
        {% endif %}
</div>
<script>
  $( function() {
    $( "#instances" ).tabs();
  } );
{% if anchor %}
    window.location = '#{{ anchor }}'
{% endif %}
</script>


{% endblock %}