{% extends 'corecontrol/base.html' %}
{% load bootstrap3 %}

{% block title %}Configuración de Servidores{% endblock %}

{% block content %}
{% if message %}
    {% bootstrap_alert message alert_type=message_type %}
{% endif %}
<div class="row">
    <div class="col-md-6">
        <h3>Candidatos</h3>
        <table class="table table-condensed table-hover">
            <tr>
                <th>Screen Name</th>
                <th>Servidores</th>
            </tr>
            {% for c in candidatos %}
            <tr>
                <td>{{ c.screen_name }}</td>
                <td id="candidato-{{ c.id }}">&nbsp;</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    <div class="col-md-6">
        <h3>Keywords & Hashtags</h3>
        <table class="table table-condensed table-hover">
            <tr>
                <th>Texto</th>
                <th>Servidores</th>
            </tr>
            {% for k in keywords %}
            <tr>
                <td>{{ k.name }}</td>
                <td id="keyword-{{ k.id }}">&nbsp;</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<hr>
<table class="table table-condensed table-hover display" id="servers">
<thead>
    <tr>
        <th>Servidor</th>
        <th>Keywords & Hashtags</th>
        <th>Candidatos</th>
        <th>&nbsp;</th>
    </tr>
</thead>
<tbody>
    {% for c in configurations %}
    <tr>
        <td>{{ c.server }}</td>
        <td>
            <select class="chosen-select" multiple="" data-placeholder="Keywords & Hashtags..." tabindex="{{ forloop.counter }}">
            {% for kw in keywords %}
                <option value="{{ kw.id }}" {% if kw in c.keywords.all %} selected="true" {% endif %}>{{ kw.name }}</option>
            {% endfor %}
            </select>
        </td>
        <td>
            <select class="chosen-select" multiple="" data-placeholder="Candidatos..." tabindex="{{ forloop.counter }}">
            {% for cd in candidatos %}
                <option value="{{ cd.id }}" {% if cd in c.candidatos.all %} selected="true" {% endif %}>{{ cd.name }}</option>
            {% endfor %}
            </select>
        </td>
        <td>
            {{ relationskw }}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<script>
keywords = {}
candidatos = {}
{% for kw in keywords %}
    if($.inArray({{ kw.id }}, keywords) > 0) {
        console.log("in array");
        keywords[{{ kw.id }}].append(
            {% for c in configurations %}
                {% if kw in c.keywords.all %}
                    "{{ c.server.name }}",
                {% endif %}
            {% endfor %}
        );
    } else {
        console.log("not in array");
        keywords[{{ kw.id }}] = [
            {% for c in configurations %}
                {% if kw in c.keywords.all %}
                    "{{ c.server.name }}",
                {% endif %}
            {% endfor %}
        ];
    }
{% endfor %}
$( document ).ready(function() {

    $(".chosen-select").chosen(
        {
            max_selected_options: 5,
            rtl: true,
            width: "100%"
        }
    );

    $.each(keywords, function (index, item) {
        $("#keyword-" + index).append(item + ", ");
    });
});
</script>
{% endblock %}
