<li><a href="{% url 'status' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Estado del Servicio</a><li>
<li role="separator" class="divider"></li>
<li><a href="{% url 'config' %}/api"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Parametros API</a><li>
<li><a href="{% url 'config' %}/database"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Base de Datos</a><li>
<li role="separator" class="divider"></li>
<li><a href="{% url 'log' %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;LOG</a><li>