<!--<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Estado del Servicio</a><li>-->
<!--<li role="separator" class="divider"></li>-->
<!--<li><a href="{% url 'index' %}/api"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Parametros API</a><li>-->
<!--<li><a href="{% url 'index' %}/database"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Base de Datos</a><li>-->
<!--<li role="separator" class="divider"></li>-->
<!--<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;LOG</a><li>-->
<li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Configuración</a></li>
<li role="separator" class="divider"></li>
<li><a href="{% url 'servers' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Estado Servidores</a></li>
<li role="separator" class="divider"></li>
<li><a href="{% url 'servers-config' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Vista&nbsp;de Parámetros</a><li>