{% extends 'corecontrol/base.html' %}
{% load bootstrap3 %}

{% block title %}Servicio TwiStreapy{% endblock %}

{% block content %}
{% if message %}
    {% bootstrap_alert message alert_type=message_type %}
{% endif %}
{% for i in instances %}
    <h2 class="sub-header">Instancia {{ i.name }}</h2>
    <form action="{% if i.output.running %}{% url 'stopproc' %}/instance-{{ i.id }}{% else %}{% url 'startproc' %}/instance-{{ i.id }}{% endif %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="instance" value="{{ i.id }}" />
        <div class="form-group">
            <p>Estado de ejecución:
            {% if i.output.running %}
                {% bootstrap_icon 'ok-circle' extra_classes="color-green" %}
            </p>
                <button type="submit" class="btn btn-danger">Detener</button>
                {% bootstrap_button "Iniciar" button_type="button" button_class="btn-success" extra_classes="disabled" name="startpr" %}
            {% else %}
                {% bootstrap_icon 'remove-circle' extra_classes="color-red" %}
            </p>
                {% bootstrap_button "Detener" button_type="button" button_class="btn-danger" extra_classes="disabled" name="stoppr" %}
                <button type="submit" class="btn btn-success">Iniciar</button>
            {% endif %}
        </div>
        <div class="form-group">
            <p>Estado del Servidor Redis:
                {% if i.output.redis %}
                    {% bootstrap_icon 'ok-circle' extra_classes="color-green" %}
                {% else %}
                    {% bootstrap_icon 'remove-circle' extra_classes="color-red" %}
                {% endif %}
            </p>
        </div>
        {% if i.output.running %}
        <div class="bg-box">
            <p class="bg-success">Servicio ejecutandose desde: {{ i.output.since }}</p>
        </div>
        {% endif %}
        {% if i.output.timeout %}
            <div class="alert alert-danger" role="alert">
                  <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  El Conector Bridge de Instancia {{ i.name }} No Responde (Timeout)</p>
                  <div>
                      <button type="button" class="btn btn-primary" name="action" value="save">Ejecutar Reinicio Bridge</button>
                      <button type="button" class="btn btn-danger" name="action" value="remove">Remover Instancia {{ i.name }}</button>
                  </div>
            </div>
        {% endif %}
<!--
        {% if i.output.rderrors %}
            <h3>Alertas</h3>
            {% for item in i.output.rderrors %}
            <div class="bg-box">
                <p class="bg-danger">{{ item }}</p>
            </div>
            {% endfor %}
        {% endif %}
-->
    </form>
{% endfor %}
{% endblock %}