{% extends 'corecontrol/base.html' %}
{% load bootstrap3 %}
{% load corecontrol_extras %}

{% block title %}Estado de los Servidores{% endblock %}

{% block content %}
{% if message %}
    {% bootstrap_alert message alert_type=message_type %}
{% endif %}
<table class="table table-condensed table-hover">
    <tr>
        <th>Servidor</th>
        <th>Tipo</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
{% for s in servers %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.server_type }}</td>
        <td id="status-{{ s.id }}">&nbsp;</td>
        <td><button class="btn btn-primary btn-xs">Reiniciar</button></td>
    </tr>
{% endfor %}
</table>
<script>
$( document ).ready(function() {
    {% for s, v in status.items %}
    $("#status-{{ s }}").LoadingOverlay("show");
        $.ajax({
            url: "{% url 'server-status' s %}",
            statusCode: {
                404: function() {
                    $("#status-{{ s }}").html('<span class="glyphicon glyphicon-remove-circle color-red"></span>');
                },
                200: function() {
                    $("#status-{{ s }}").html('<span class="glyphicon glyphicon-ok-circle color-green"></span>');
                }
            }
        });
    $("#status-{{ s }}").LoadingOverlay("hide");
    {% endfor %}
});
</script>
{% endblock %}