<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;Textos</a>
          <ul class="dropdown-menu">
                <li><a href="{% url 'nuevotexto' %}"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo Texto</a><li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'textos' %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Ver Textos</a><li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'cargacsv' %}"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Carga Masiva</a><li>
                <li role="separator" class="divider"></li>
          </ul>
        </li>



