{% extends 'corecontrol/bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block bootstrap3_extra_head %}
    <link href="{% static 'corecontrol/css/dashboard.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
    <script src="{% static 'corecontrol/js/global.js' %}"></script>
    <link href="{% static 'corecontrol/css/bootstrap-tagsinput.css' %}" rel="stylesheet">
    <script src="{% static 'corecontrol/js/bootstrap-tagsinput.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js"></script>
{% endblock %}
{% block bootstrap3_content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Manage Center</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp;Estadisticas</a></li>
        <li><a href="{% url 'search' %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Busquedas</a></li>
        <li><a href="{% url 'corecontrol' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;Configuración</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;Ayuda</a></li>
      </ul>
    </div>
</div>
</nav>
{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'search' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Informaci&oacute;n</a><li>
                <li><a href="{% url 'search-tweets' %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search API</a><li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;B&uacute;squeda de Usuarios</a><li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}(no content){% endblock %}
        </div>
    </div>
</div>
{% endblock %}