                <li><a href="{% url 'search' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Informaci&oacute;n</a><li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'search-tweets' %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search API</a><li>
                <li><a href="{% url 'search-timeline' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;User Timelines API</a><li>
                <li><a href="{% url 'search-retweets' %}"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>&nbsp;Retweets API</a><li>
                <li><a href="{% url 'search-ffs' %}"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>&nbsp;Friends/Followers API</a><li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;Búsqueda en Base de Datos</a><li>
